db {
  url = "jdbc:mysql://{{ db_node_adress }}/{{ db_name }}?useUnicode=true&characterEncoding=utf8"
  user = "{{ db_username }}"
  password = "{{ db_password }}"
#  connectionTimeout = 30000
#  idleTimeout = 600000
#  maxLifetime = 1800000
#  minimumIdle = 10
#  maximumPoolSize = 10
}