127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ tomcat_node1_ip }} {{ tomcat_node1_hostname }}
{{ tomcat_node2_ip }} {{ tomcat_node2_hostname }}

{{ lb_node1_ip }} {{ lb_node1_hostanme }}
{{ lb_node2_ip }} {{ lb_node2_hostanme }}

10.26.0.237 a.tmc1
10.26.0.159 a.tmc2